
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

    /*General Styles*/
html{
    font-size:62.5%;
     }
body{
    font-size: 1.8rem;
    color:#4f4f4f;  
    line-height:1.5; 
    }

h1{
    font-size: 6rem;
    margin: 4% 2%;
    }
h2{
    font-size: 3.5rem;
}

a{
    text-decoration: none;
    color:#4f4f4f
}

*{
box-sizing: border-box;

max-width: 100%;
border: 1px solid grey;
}
header{
    background-color: lavender;
    padding: 3%;
}

header nav {
    margin-left: 4%;
}
header nav a{
    background-color: white;
    padding: 1% 3%;
    margin: 0;
}
.top{
    display: flex;
    justify-content: space-around;
}
.kat{
    display: flex;
    width: 50%;
}

.top {
    margin: 4% auto;
}

.about{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 40%;
    align-content: center;
}

.about h2, a, p{
    padding: 3%;
}

.gallery {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.gallery img{
    flex-direction:row;
    display:flex;
    justify-content: space-between;
}

.desc{
    display:flex;
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
    padding: 5%;
}
footer{
    padding: 10%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: lavender;
}
footer a{
    display: flex;
    justify-content: center;
    background-color: white;
}

